.photos {
  padding: 30px;

  &__header {
    display: flex;
    justify-content: center;
  }

  &__title {
    font-family: Roboto;
  }

  &__info {
    @include gradientBg(#efefef, #e2e2e2);
    padding: 30px;
    min-height: 294px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-weight: 600;
  }

  &__item {
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
